
#container-center {
	display: flex;
	justify-content: center;
}

#container-input {
	padding: 0 2% 0 2%;
}

#container-input form {
	display: flex;
	flex-direction: column;
}

#login-card {
	width: 400px;
}

.ler-input  {
	all: unset;
	padding: 10px;
	margin: 10px;
	font-family: 'Inter';
	background-color: white;
	border-radius: 10px;
}

#esqueceu_senha {
    margin-left: 1rem;
}